<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    {{#if job.position}}
        <title>{{job.position}}</title>
    {{else}}
        <title>Oferta de Empleo</title>
    {{/if}}
</head>
<body>
    <header class="header">
        <span class="header__logo-container">
            <img class="header__logo" src="/images/logo.png" alt="JobFinder logo">
        </span>
        <span>
            <h1 class="header__title">JobFinder</h1>
        </span>
        <span class="header__navbar-container">
            <navbar class="navbar">
                <a class="navbar__link" href="/jobs">Volver</a>
            </navbar>
        </span>
    </header>
    <main class="main-offers">
        {{#if job}}
            <h1 class="main-offers__title">{{job.position}}</h1>
            <h4 class="main-offers__content">Empresa: {{job.company}}</h4>
            <p class="main-offers__content">Descripción: {{job.description}}</p>
            {{#if job.location}}
                <p class="main-offers__content">Localización: {{job.location}}</p>
            {{/if}}
            <p class="main-offers__content">Contacto: {{job.contactEmail}}</p>
            <form action="/jobs/apply/{{job._id}}?_method=PUT" method="POST">
                <button class="form-container__button" type="submit">Apply</button>
            </form>
        {{else}}
            <h3>Oferta no encontrada</h3>
        {{/if}}
    </main>
</body>
</html>