<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if job.position}}
        <title>{{job.position}}</title>
    {{else}}
        <title>Oferta de Empleo</title>
    {{/if}}
</head>
<body>
    <header class="header">
        <navbar class="navbar">
            <a href="/jobs">Volver</a>
        </navbar>
    </header>
    <main class="container">
        {{#if job}}
            <h1>{{job.position}}</h1>
            <h4>Empresa: {{job.company}}</h4>
            <p>Descripción: {{job.description}}</p>
            {{#if job.location}}
                <p>Localización: {{job.location}}</p>
            {{/if}}
            <p>Contacto: {{job.contactEmail}}</p>
        {{else}}
            <h3>Oferta no encontrada</h3>
        {{/if}}
    </main>
</body>
</html>