<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Empleos</title>
</head>
<body>
    <header class="header">
        <span class="header__logo-container">
            <img class="header__logo" src="/images/logo.png" alt="JobFinder logo">
        </span>
        <span>
            <h1 class="header__title">JobFinder</h1>
        </span>
        <span class="header__navbar-container">
            {{#if isAdmin}}
                <navbar class="navbar">
                    <span>
                        <a class="navbar__link" href="/">Volver</a>
                    </span>
                    <span>
                        <a class="navbar__link" href="/jobs/add-offer">Crea una nueva oferta de empleo</a>
                    </span>
                    <form class="navbar__link-container" action="/auth/logout" method="POST">
                        <button class="navbar__link" type="submit">Logout</button>
                    </form>
                </navbar>
            {{/if}}
        </span> 
    </header>
    <main class="main-offers">
        <div>
            <h1 class="main-offers__title">Usuarios Registrados</h1>
        </div>
        <ul>
            {{#each users}}
                <li>
                    <h3 class="main-offers__content">Usuario: <a href="/auth/users/{{_id}}">{{email}}</a></h3>
                    <p class="main-offers__content">Role: {{role}}</p>
                    <p class="main-offers__content">Subrole: {{subRole}}</p>
                    <form action="/auth/delete-user/?_method=DELETE" method="POST">
                        <input class="main-offers__content" type="hidden" id="id" name="id" value={{_id}}>
                    <button class="form-container__button" type="submit">Delete User</button>
            </form>
                </li>
            {{/each}}
        </ul>
    </main>
</body>
</html>